/* Global Styles */
@charset "UTF-8";

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("../fonts/DIN Regular/DINNextLTPro-Regular.eot");
  src: url("../fonts/DIN Regular/DINNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN Regular/DINNextLTPro-Regular.woff2") format("woff2"), url("../fonts/DIN Regular/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DIN Regular/DINNextLTPro-Regular.ttf") format("truetype"), url("../fonts/DIN Regular/DINNextLTPro-Regular.otf") format("opentype"), url("../fonts/DIN Regular/DINNextLTPro-Regular.svg#DINNextLTPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'DIN Next LT Pro Medium';
  src: url("../fonts/DIN Medium/DINNextLTPro-Medium.eot");
  src: url("../fonts/DIN Medium/DINNextLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN Medium/DINNextLTPro-Medium.woff2") format("woff2"), url("../fonts/DIN Medium/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DIN Medium/DINNextLTPro-Medium.ttf") format("truetype"), url("../fonts/DIN Medium/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DIN Medium/DINNextLTPro-Medium.svg#DINNextLTPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'DIN Next LT Pro Bold';
  src: url("../fonts/DIN Bold/DINNextLTPro-Bold.eot");
  src: url("../fonts/DIN Bold/DINNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN Bold/DINNextLTPro-Bold.woff2") format("woff2"), url("../fonts/DIN Bold/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DIN Bold/DINNextLTPro-Bold.ttf") format("truetype"), url("../fonts/DIN Bold/DINNextLTPro-Bold.otf") format("opentype"), url("../fonts/DIN Bold/DINNextLTPro-Bold.svg#DINNextLTPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'DIN Next LT Pro Light';
  src: url("../fonts/DIN Light/DINNextLTPro-Light.eot");
  src: url("../fonts/DIN Light/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN Light/DINNextLTPro-Light.woff2") format("woff2"), url("../fonts/DIN Light/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DIN Light/DINNextLTPro-Light.ttf") format("truetype"), url("../fonts/DIN Light/DINNextLTPro-Light.otf") format("opentype"), url("../fonts/DIN Light/DINNextLTPro-Light.svg#DINNextLTPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'DIN Next LT Pro Heavy';
  src: url("../fonts/DIN Heavy/DINNextLTPro-Heavy.eot");
  src: url("../fonts/DIN Heavy/DINNextLTPro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN Heavy/DINNextLTPro-Heavy.woff2") format("woff2"), url("../fonts/DIN Heavy/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DIN Heavy/DINNextLTPro-Heavy.ttf") format("truetype"), url("../fonts/DIN Heavy/DINNextLTPro-Heavy.otf") format("opentype"), url("../fonts/DIN Heavy/DINNextLTPro-Heavy.svg#DINNextLTPro-Heavy") format("svg");
  font-weight: 750;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4i8cyb");
  src: url("../fonts/icomoon.eot?4i8cyb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4i8cyb") format("truetype"), url("../fonts/icomoon.woff?4i8cyb") format("woff"), url("../fonts/icomoon.svg?4i8cyb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  width: 1440px;
}

.header + .container,
.header + .container-fluid {
  background-color: #ffffff;
  margin: 50px 40px;
  padding-bottom: 30px;
  padding-top: 50px;
}

.header {
  background-color: #0471af;
  padding: 15px;
}

.header .back {
  display: block;
  font-size: 20px;
  font-weight: normal;
  height: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: initial;
}

.header .back:before {
  content: "\f053";
  font-family: fontawesome;
  font-size: inherit;
  margin-right: 10px;
}

@media (max-width: 1440px) {
  body {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .header + .container,
  .header + .container-fluid {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 25px;
  }
}

.logo {
  margin-top: 80px;
  text-align: center;
}

.logo + .container {
  margin-top: 48px;
}

.content {
  margin: 35px auto;
  width: 560px;
}

a {
  color: #4696c4;
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

h2 {
  color: #747373;
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

button,
.header a,
.create p a,
#cancel {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  line-height: 1;
  padding: 15px 20px;
  position: relative;
  text-transform: uppercase;
  outline: none;
}

.header a,
.buttons button {
  background-color: #0471af;
  border-color: #0581c8;
  color: #fff;
  padding: 20px;
}

.attrEntry label,
.entry-item label {
  color: #444;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.attrEntry input[type=text],
.entry-item input[type=text] {
  border: 1px solid #ccc;
  height: 45px;
  padding: 0 10px;
  width: 100%;
}

/* SignIn/SignUp Styles */
#login {
  margin: 0 auto;
  max-width: 550px;
}

.create p {
  text-align: center;
}

.create p a {
  border: 1px solid #0581c8;
  color: #0471af;
  display: block;
  padding: 20px;
}

.header a,
.entry-item input,
.buttons button,
.social .options button {
  box-sizing: border-box;
  width: 100%;
}

.intro h2 {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 10px;
}

.social .options {
  display: table;
  width: 100%;
}

.social .options > div {
  display: table-cell;
  padding: 10px;
  width: 50%;
}

@media (max-width: 560px) {
  .social .options > div {
    display: block;
    width: 100%;
  }
}

.social .options button {
  color: transparent;
  height: 44px;
  padding: 0;
  position: relative;
  text-align: left;
}

.social .options button:before,
.social .options button:after {
  color: #fff;
  display: inherit;
  left: 55px;
  line-height: 44px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.social .options button:before {
  border-right: 1px solid;
  font-family: fontawesome;
  left: 0;
  text-align: center;
  width: 44px;
}

#FacebookExchange {
  background-color: #3b5998;
}

#GoogleExchange {
  background-color: #dd4b39;
}

#MicrosoftAccountExchange {
  background-color: #2672ec;
}

#FacebookExchange:before {
  border-color: #2e4576;
  content: "\f09a";
}

#GoogleExchange:before {
  border-color: #bd3e2f;
  content: "\f0d5";
}

#MicrosoftAccountExchange:before {
  border-color: #2672ec;
  content: "\f17a";
}

#FacebookExchange:after {
  content: "Sign In With Facebook";
}

#GoogleExchange:after {
  content: "Sign In With Google+";
}

#MicrosoftAccountExchange:after {
  content: "Sign In With Microsoft";
}

.divider {
  text-align: center;
}

.localAccount .entry + .divider {
  display: none;
}

.localAccount .entry-item,
.localAccount .buttons,
.create {
  margin-top: 15px;
}

.password-label {
  position: relative;
}

.password-label #forgotPassword {
  bottom: 0;
  position: absolute;
  right: 0;
}

/* Local Sign Up Styles */
#register > .intro + .row > [class^="col-"],
#register > .intro + .row > [class*=" col-"] {
  padding-top: 40px;
}

#register #api > .intro {
  display: none;
}

#attributeList > ul {
  list-style-type: none;
  padding: 0;
}

#attributeList > ul > li + li {
  margin-top: 15px;
}

.attrEntry {
  position: relative;
}

.attrEntry .helpLink {
  display: none;
  height: 0;
  visibility: hidden;
}

.attrEntry .helpLink:before {
  content: "\f05a";
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
  visibility: initial;
}

.buttons input + button,
.buttons button + button,
.buttons button + #cancel {
  margin-top: 15px;
}

.title-why {
  color: #004990;
  font-weight: bold;
}

.title-list {
  color: #3A3A3A;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

ul.list {
  margin-top: 15px;
  padding-left: 20px;
}

ul.list > li + li {
  margin-top: 10px;
}

ul.list-bullet > li {
  padding-left: 10px;
  position: relative;
}

ul.list-inline {
  padding-left: 0;
  list-style: none;
}

ul.list-inline > li {
  display: inline-block;
  padding: 0 9px;
  position: relative;
}

ul.list-inline > li:first-child {
  padding-left: 0;
}

ul.list-inline > li:last-child {
  padding-right: 0;
}

ul.list-inline > li + li {
  margin: 0;
}

ul.list-inline > li + li:before {
  background-color: #ccc;
  content: "";
  height: 13px;
  width: 1px;
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

#cancel {
  border: 1px solid #0581c8;
  color: #ffffff;
  display: block;
  height: 54px;
}

#cancel:before {
  color: #0471af;
  content: "Already have an account? Sign in";
  display: block;
  left: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 150px;
  width: 100%;
}

.footer .list {
  color: #686767;
  font-size: 12px;
}

@media (max-width: 560px) {
  .footer {
    margin-top: 75px;
  }

  .footer .list {
    text-align: center;
  }

  .footer .links-left > li + li:before {
    display: none;
  }
}

/* Error Styles*/
.error.pageLevel {
  border: 1px solid #ccc;
  border-top: 4px solid #dd0637;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.error.pageLevel p,
.error.itemLevel p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.error.pageLevel p:before {
  color: #dd0637;
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 10px;
  visibility: hidden;
}

.error.pageLevel p:first-of-type:before {
  visibility: visible;
}

.error.itemLevel {
  background-color: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: .25rem;
  color: #a94442;
  margin-bottom: 1rem;
  padding: .25rem 1.25rem;
}